.navbar{
    width: 100%;
    height: 50px;
    background-color: #222;
    display: flex;
align-items:center;
justify-content: space-between;
padding: 10px 10px;
}
.logo{  
    color: #fff;
    font-size: 10px;
}
.navbar ul{
    display: inline-flex;
    gap:10px;
}
.navbar ul -li {
    list-style-type:name;

}
.navbar ul li a {
    color:#fff;
    text-decoration: none;
}